[Unit]
Description=E-Ink Slideshow
After=multi-user.target

[Service]
User=root
WorkingDirectory=/opt/eink
ExecStart=/usr/bin/python3 /opt/eink/slideshow.py
Restart=always

[Install]
WantedBy=multi-user.target
